<%= link_to image_tag('/images/MarkIt_logo_black.png'), root_url %>
<hr />

<div class="flash">
  <% if flash[:notice] %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:notice] %>
    </div>
  <% elsif flash.now[:alert] %>
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash.now[:alert] %>
    </div>
  <% elsif flash[:alert] %>
    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:alert] %>
    </div>
  <% end %>
</div>
<div style="background-image: url('/images/bookmark_background.jpg')", class = "image-responsive">
  <div class = 'row'>
    <br />
    <div class = 'col-md-6 col-md-offset-3'>
      <div class = "panel panel-default">
        <!-- Begin form -->
        <div class="panel-heading">
          <center><h4>Sign Up</h4></center>
        </div>
        <div class = "panel-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

            <div class="form-group">
              <%= f.label :email, class: 'col-sm-4 control-label' %>
              <div class = 'col-sm-8'>
                <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email Address' %>
              </div><br />
            </div><br />

            <div class="form-group">
              <%= f.label :password, class: 'col-sm-4 control-label' %>
              <div class = 'col-sm-8'>
                <%= f.password_field :password, autocomplete: "off" , class: 'form-control', placeholder: 'Password' %>&nbsp;
                <% if @minimum_password_length %>
                  (<%= @minimum_password_length %> characters minimum)
                <% end %>
              </div>
            </div><br />
            <br /><br />
            <div class="form-group">
              <%= f.label :confirm_password, class: 'col-sm-4 control-label' %>
              <div class = 'col-sm-8'>
                <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Confirm Password' %>
              </div>
            </div>
            <br /><br />
            <div class="actions">
              <center><%= f.submit "Sign up", class: 'btn btn-primary' %></center>
            </div>
          <% end %>
          <br />
          <br />
          <!-- End form -->
      </div>
      </div>
    </div>
  </div>
</div>
<br />
<p style ="text-align: center">Already have an account? <%= render "devise/shared/links" %></p>
