<div class = 'container'>
  <div class = 'jumbotron', style="background: url('/images/bookmark_background.jpg')">
    <img src = '/images/MarkIt_logo.png'><br />
    <p style = 'color: #ffffff'><strong>Your premier location for bookmark management and sharing</strong></p>
    <%= link_to 'Sign Up', new_user_registration_path, :class => 'btn btn-default' %>
  </div>

  <div class = 'row'>
    <div class = "col-md-8">
      <h2>Bookmark Management Made Easier</h2>
      <p>You're in control and management is the same regardless of which browser you're using</p>
      <h2>Share With Your Friends</h2>
      <p>But you don't need to exclude your enemies</p>
    </div>
    <div class = "col-md-4">
      <div class = 'panel panel-default'>
        <div class= 'panel-heading'>
          <center><h4>Log in</h4></center>
        </div>
        <div class = 'panel-body'>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <%= f.label :email, class: 'col-sm-4 control-label' %>
              <div class = 'col-sm-8'>
                <%= f.email_field :email, autofocus: true, placeholder: 'Email' %>
              </div>
            </div>

            <br /><br />

            <div class="form-group">
              <%= f.label :password, class: 'col-sm-4 control-label' %>
              <div class = 'col-sm-8'>
                <%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %>
              </div>
            </div><br />

            <% if devise_mapping.rememberable? -%>
              <div class="form-group">
                <div class = 'col-sm-4'>&nbsp;</div>
                  <div class = 'col-sm-8'>
                    <%= f.check_box :remember_me %>&nbsp;
                    <%= f.label :remember_me %>
                  </div>
              </div>
            <% end -%>
            <br />
            <div class="actions">
              <center><%= f.submit "Log in" , :class => 'btn btn-primary' %></center>
            </div>
          <% end %>
          <br />
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
